**Check all that apply:**

## Teamwork

_X_We were proactive

_X_We began with the end in mind

_X_We put first things first

_X_We looked for win-wins

_X_We sought first to understand, then be understood

_X_We synergized

_X_We sharpened the saw

 

_X_We assigned team roles

_X_We assigned used a communication system (GitHub, Discord, etc.)

__We organized 2-3 scrums per week.

_X_We each contributed one aspect of a product, system, or service

 

## Repository

_X_Includes Project Presentation Directory (based on initial elevator pitch) include links

to repository and chatbot.

_X_Includes README.md – give users and collaborators important instructions, project

history, version history, style sheet, etc.

_X_Includes License.md

_X_Includes Inclusivity.md – facilitate a fair and equitable writing infrastructure.

_X_Includes SystemMemory.md – List of system prompts and list of system files used

to train the machine.

_X_Includes SystemMemory Directory – include all files used to train machine

_X_Includes ProcessDescriptionVerification.md

 

## Technical Writing

_X_We clearly organized content (Title, headings, paragraphs, sentences, bullet points.)

_X_We used strong topic sentences

_X_We wrote concisely and used language to guide reader through paragraph content

_X_We used active voice and action verbs

___We labeled all figures and provided alt-text for all images.  

 

## AI Use Verification

_X_We verified all AI research

_X_We verified all AI invention

_X_We verified all AI drafting

_X_We verified all AI revisions

 

## AI Use Documentation

****Create a list of all or the ways you used AI to create project assets. Share prompts

AI use: To make the bot itself with Google Gemini Gems

Prompt(s): Check the repository 

AI use:

Prompt(s):

AI use:

Prompt(s):